.InfoSection
{
  @include largeVerticalSpacing;
}

.InfoSection__title
{
  @include mediumHeading;
  font-weight: 400;
  text-align:  center;
}

.InfoSection__content
{
  @include centeredColumnsWidth(8);
  margin-top:      50px;
}
