.InfoSection
{
  margin: 200px 0;
}

.InfoSection__title
{
  @include mediumHeading;
  font-weight: 400;
  text-align:  center;
}

.InfoSection__content
{
  @include centeredColumnsWidth(4);
  margin-top:      50px;
}
