
@font-face {
  font-family: 'HK Grotesk';
  src: url('/static/fonts/hydric/HKGrotesk-Bold.eot');
  src: url('/static/fonts/hydric/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
               url('/static/fonts/hydric/HKGrotesk-Bold.woff') format('woff'),
               url('/static/fonts/hydric/HKGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/static/fonts/hydric/HKGrotesk-SemiBold.eot');
  src: url('/static/fonts/hydric/HKGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'),
               url('/static/fonts/hydric/HKGrotesk-SemiBold.woff') format('woff'),
               url('/static/fonts/hydric/HKGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

//@font-face {
//  font-family: 'HK Grotesk';
//  src: url('/static/fonts/hydric/HKGrotesk-MediumItalic.eot');
//  src: url('/static/fonts/hydric/HKGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'),
//               url('/static/fonts/hydric/HKGrotesk-MediumItalic.woff') format('woff'),
//               url('/static/fonts/hydric/HKGrotesk-MediumItalic.ttf') format('truetype');
//  font-weight: 500;
//  font-style: italic;
//}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/static/fonts/hydric/HKGrotesk-Regular.eot');
  src: url('/static/fonts/hydric/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
               url('/static/fonts/hydric/HKGrotesk-Regular.woff') format('woff'),
               url('/static/fonts/hydric/HKGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'HK Grotesk';
//  src: url('/static/fonts/hydric/HKGrotesk-BoldItalic.eot');
//  src: url('/static/fonts/hydric/HKGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'),
//               url('/static/fonts/hydric/HKGrotesk-BoldItalic.woff') format('woff'),
//               url('/static/fonts/hydric/HKGrotesk-BoldItalic.ttf') format('truetype');
//  font-weight: bold;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'HK Grotesk';
//  src: url('/static/fonts/hydric/HKGrotesk-SemiBoldItalic.eot');
//  src: url('/static/fonts/hydric/HKGrotesk-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
//               url('/static/fonts/hydric/HKGrotesk-SemiBoldItalic.woff') format('woff'),
//               url('/static/fonts/hydric/HKGrotesk-SemiBoldItalic.ttf') format('truetype');
//  font-weight: 600;
//  font-style: italic;
//}

//@font-face {
//  font-family: 'HK Grotesk';
//  src: url('/static/fonts/hydric/HKGrotesk-LightItalic.eot');
//  src: url('/static/fonts/hydric/HKGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'),
//               url('/static/fonts/hydric/HKGrotesk-LightItalic.woff') format('woff'),
//               url('/static/fonts/hydric/HKGrotesk-LightItalic.ttf') format('truetype');
//  font-weight: 300;
//  font-style: italic;
//}

//@font-face {
//  font-family: 'HK Grotesk';
//  src: url('/static/fonts/hydric/HKGrotesk-Light.eot');
//  src: url('/static/fonts/hydric/HKGrotesk-Light.eot?#iefix') format('embedded-opentype'),
//               url('/static/fonts/hydric/HKGrotesk-Light.woff') format('woff'),
//               url('/static/fonts/hydric/HKGrotesk-Light.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/static/fonts/hydric/HKGrotesk-Medium.eot');
  src: url('/static/fonts/hydric/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
               url('/static/fonts/hydric/HKGrotesk-Medium.woff') format('woff'),
               url('/static/fonts/hydric/HKGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

//@font-face {
//  font-family: 'HK Grotesk';
//  src: url('/static/fonts/hydric/HKGrotesk-Italic.eot');
//  src: url('/static/fonts/hydric/HKGrotesk-Italic.eot?#iefix') format('embedded-opentype'),
//               url('/static/fonts/hydric/HKGrotesk-Italic.woff') format('woff'),
//               url('/static/fonts/hydric/HKGrotesk-Italic.ttf') format('truetype');
//  font-weight: normal;
//  font-style: italic;
//}